	
.abc{
	text-align: center;
}

.lu{
	height: 400px;
	width: 700px; 
    border: solid 1px;
}

.poc{
	 background-color: lightgray;
	 margin: 0px 265px 30px 265px;
	 padding: 160px 0px 40px 0px;
}
#adc{
	margin: -230px 10px 20px 25px;
    color: white;
   font-size: 50px;
}
.ul{
	height: 400px;
    width: 800px;
    border: solid 1px;">
     		
}
